# Supabase Connection Variables
# Retrieve these from your Supabase Project settings -> API
VITE_SUPABASE_URL=https://uwsgmoinsxumckzwuydv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_jhhaI5A0vq_n7ygkArCv9A_mHcOTW18

# Resend API Key for contact email delivery
# Retrieve this from your Resend developer dashboard
RESEND_API_KEY=re_KbioXdYK_Aq9ufdtRvSvRNzhot5XWrRsm